[Desktop Entry]
Comment=Logic circuit simulator for linux
Exec=ggate %F
Name=GGate
Terminal=false
Type=Application
Icon=ggate
Categories=Science
StartupNotify=true
MimeType=text/glc
