[Desktop Entry]
_Name=GLogic
_Comment=Logic circuit simulator
Exec=glogic
Name=GLogic
Terminal=false
Type=Application
Icon=glogic
Categories=Education;Science;Electronics
StartupNotify=true
