[Desktop Entry]
Comment=Logic circuit simulator for linux
Exec=glogic %F
Name=GLogic
Terminal=false
Type=Application
Icon=glogic
Categories=Science
StartupNotify=true
MimeType=text/glc
